@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
	font-family: 'Space Mono';
}

.wrapper {
	width: 70%; 
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 40vh;
}

h1 {
	font-size: 1em;
}

h2 span {
	padding: 0 5px;
	background: #FFAB00;
}

h2 {
	font-size: 32px;
	line-height: 2;
}

h3 {
	font-size: 28px;
}
section.episode {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-bottom: 60px;
}

.episodeDescription {
	padding: 20px;
}

.date {
	text-transform: uppercase; 
	font-size: 1em;
	color: #FFAB00;
	position: relative;
	top: 25px;
}

p.summary {
	line-height: 1.5;
}

.coverImage img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	object-position: top;
}

div.listen {
	position: relative;
	top: 10px;
	display: flex;
	align-items: center;
}


img[alt="spotify"] {
	width: 32px;
	align-self: center;
	margin-right: 10px;
}

.listen a {
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	header {
		height: 60vh;
	}
	
	h2 {
		font-size: 1.5em;
	}
	
	.wrapper {
		width: 90%;
	}
	
	section.episode {
		grid-template-columns: 1fr;
	}
	
	.episodeDescription {
	padding: 0;
}
}